.slider {
  overflow: hidden;
}
.bullet_container {
  position: absolute;
  right: 2rem !important;
  bottom: -0.3rem !important;
  overflow-y: visible;
  background-color: #f9f9f9;
  width: max-content !important;
  padding-inline: 3.5rem;
  border-radius: 1rem;
}
